doctype html
html
  head
    title Brutal
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='room', content='#{room}')
    link(rel='icon', href='/favicon.ico')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='stylesheet', href='/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/app.js')
  body
    #react-root

    script.
      var clientId=document.cookie.replace(/(?:(?:^|.*;\s*)_za\s*\=\s*([^;]*).*$)|^.*$/,"$1");0===clientId.length&&(clientId=function(){var a=new Date().getTime(),b="xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g,function(b){var c=0|(a+16*Math.random())%16;return a=Math.floor(a/16),("x"==b?c:8|3&c).toString(16)});return b}(),document.cookie="_za="+clientId+"; max-age=63072000; domain="+document.location.hostname);var i=new Image;i.src=`https://analytics.zjm.me/track?hit_type=pageview&location=${window.location}&language=${navigator.language}&encoding=${document.charset}&title=${document.title}&color_depth=${screen.colorDepth}&screen_res=${screen.width}x${screen.height}&viewport=${innerWidth}x${innerHeight}&tracking_id=ZA-000001-5&client_id=${clientId}`;
